<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Metas Financeiras</title>

<link
rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="topbar">

    <h2>💰 Financeiro</h2>

    <a href="/dashboard" class="btn-sair">
        Dashboard
    </a>

</div>

<div class="container">

    <h1>Meta Financeira</h1>

    <div class="card reserva">

        <h3>Meta Atual</h3>

        <p>
            R$ {{ meta }}
        </p>

    </div>

    <br>

    <div class="card saldo">

        <h3>Valor Guardado</h3>

        <p>
            R$ {{ guardado }}
        </p>

    </div>

    <br>

    <div class="box">

        <h2>Progresso da Meta</h2>

        <div class="barra-container">

            <div>
            class="barra-progresso"
            style="width: {{ percentual }}%;"

            </div>

        </div>

        <p>

            {{ percentual }}%

            concluído

        </p>

        <br>

        <p>

            Falta:

            <strong>

                R$ {{ falta }}

            </strong>

        </p>

    </div>

    <div class="box">

        <h2>Atualizar Meta</h2>

        <form
        action="/salvar_meta"
        method="POST">

            <input
            type="number"
            step="0.01"
            name="meta"
            placeholder="Meta"
            required>

            <input
            type="number"
            step="0.01"
            name="guardado"
            placeholder="Valor Guardado"
            required>

            <button>

                Salvar

            </button>

        </form>

    </div>

</div>

</body>

</html>