<!DOCTYPE html>
<html lang="pt-BR">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Previsão Financeira</title>

<link
rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="topbar">

    <h2>💰 Financeiro</h2>

    <a href="/dashboard" class="btn-sair">
        Dashboard
    </a>

</div>

<div class="container">

    <h1>Previsão Inteligente</h1>

    <div class="cards">

        <div class="card previsao">

            <h3>Média dos Gastos</h3>

            <p>
                R$ {{ previsao }}
            </p>

        </div>

        <div class="card salario">

            <h3>Salário Atual</h3>

            <p>
                R$ {{ salario }}
            </p>

        </div>

        <div class="card saldo">

            <h3>Sobra Prevista</h3>

            <p>
                R$ {{ sobra_prevista }}
            </p>

        </div>

    </div>

    <div class="box">

        <h2>Análise Financeira</h2>

        <p>

            {% if sobra_prevista > 0 %}

                Você está gastando menos do que ganha.

            {% else %}

                Atenção:
                seus gastos estão maiores
                que sua renda.

            {% endif %}

        </p>

    </div>

</div>

</body>

</html>